{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de provincias(index provincia)</h1>
<ul>
    {% for provincia in provincias %}
        <li>{{ provincia.nombre }} - {{provincia.localidades}}</li>
    {% endfor %}
</ul>

<a href="{{ path('provincia_nuevo') }}">Añadir provincias</a>

{% endblock %}


