{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de regiones(index region)</h1>
<ul>
    {% for region in regiones %}
        <li>{{ region.nombre }} - {{ region.idioma }}</li>
    {% endfor %}
</ul>

<a href="{{ path('region_nuevo') }}">Añadir regiones</a>

{% endblock %}